/* elements */
button {
  border-radius: 10px;
  border: 1px solid black;
  padding: 10px;
  font-size: 14px;
  background-color: white;
}
button:hover {
  cursor: pointer;
  border: none;
  background-color: salmon;
  box-shadow: 2px 3px 3px 1px rgb(171, 100, 92);
}
select {
  width: 126px;
}
hr {
  margin: 0px 0px 20px 0px;
  border: 0.5px solid black;
  width: 100%;
}
h2{
  margin: 0px;
  padding: 0px;
}
.add {
  border: none;
  padding: 2px;
  font-size: 20px;
  width: 31px;
  height: 31px;
  margin-bottom: 4px;
  background-color: white;
}
#done {
  margin: 20px 0px;
}

/* containers */
#main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 200px;
}
.formDiv {
  width: 100%;
  padding: 0px;
  margin: 0px;
}
.formBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.item{
  width: 100%;
  margin: 5px;
  padding: 5px;
}


/* text */
.plain{
  font-size: 16px;
  margin: 0px;
}
.date{
  font-size: 14px;
  font-style: italic;
}
.title{
  font-size: 20px;
}
.bigBox{
  width: 460px;
  height: 100px;
}
.topHeading{
  width: 100%;
}
.heading{
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 30px 0px 0px 0px;
}

/* form areas */
.smallForm {
  width: 100%;
  display: grid;
  grid-template: 20px 45pxß 45pxß / 1fr 1fr;
  justify-items: start;
  gap: 10px;
}
.small1{
  grid-area: 1 / 1 / 2 / 3
}
.jobForm {
  width: 100%;
  display: grid;
  grid-template: 20px 1fr 3fr 1fr / 1fr 1fr;
  justify-items: start;
  gap: 10px;
}
.jobLine {
  grid-area: 1 / 1 / 2 / 3
}
#bigInput {
  grid-area: 3 / 1 / 4 / 3;
}

/* cv display styles */
#displayMain{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 50px;
}
#cv{
  padding: 50px;
}
.topBox {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 35px 20px;
  height: 77px;
  justify-items: center;
  align-items: start;
  margin-top: 15px;
}
.sameLine {
  display: flex;
  gap: 40px;
}
.mainGrid {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr;
}
.jobBox{
  display: block
}
.schoolBox{
  display: block
}